profile = ocamlformat
version = 0.29.0
break-cases = fit-or-vertical
break-fun-decl = fit-or-vertical
break-fun-sig = fit-or-vertical
break-infix = wrap-or-vertical
break-separators = after
if-then-else = k-r
let-binding-spacing = double-semicolon
margin = 100
max-indent = 80
parse-docstrings = true
sequence-style = terminator
type-decl = sparse
wrap-comments = false
