<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ViPER</string>
	<key>contactName</key>
	<string>Jacob Kline and Emery Jacobowitz</string>
	<key>uuid</key>
	<string>D1DFBF92-33A3-470A-AB14-9B88E327B18C</string>
</dict>
</plist>
